*{
    background-color: #000000;
}

#loader {
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    animation: loading 1s infinite ease-in-out;
  }
  
  @keyframes loading {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: calc(200px + 100%) 0;
    }
  }
  
  #list {
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: #ffffff;
  }
  
  #list li {
    margin-bottom: 10px;
    background-color: #757575;
    border-radius: 5px;
    height: 30px;
  }
  